
{% macro events(events) %}
    {% for event in events %}
        {% set term = event.date %}
        {% set definition %}
            <strong>{{ event.title }}</strong><br />
            {% if event.trainer is defined %}Trainer: {{ event.trainer }}<br />{% endif %}
            {% if event.location is defined %}<em>{{ event.location }}</em><br />{% endif %}
            {% if event.speakers is defined %}<small>Speakers: i.a. {{ event.speakers | join(', ') }}</small><br />{% endif %}
            {% if event.description is defined %}{{ event.description }}<br />{% endif %}
            {% if event.slides is defined %}<a href="{{event.slides}}">{{ event.slides }}</a><br />{% endif %}
            {% if event.projects is defined %}
                <br />
                Interesting projects:<br /><br />
                <ul>
                    {% for project in event.projects %}
                        <li>
                            <a href="{{ project.url }}">{{ project.title }}</a><br />
                            {{ project.description }}<br />
                            Project started: {{ project.start }}<br />
                            {% if project.keywords %}Keywords: {% for keyword in project.keywords %}<em>{{ keyword }}</em>{% if not loop.last %}, {% endif %}{% endfor %}<br />{% endif %}
                            <br />
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endset %}
        {{ _self.definition(term, definition) }}
    {% endfor %}
{% endmacro %}

{% macro definitionList(term, list) %}
    {% set definition %}
        <ul>
            {% for item in list %}
               <li>{{ item | raw }}</li>
            {% endfor %}
        </ul>
    {% endset %}
    {{ _self.definition(term, definition) }}
{% endmacro %}

{% macro definition(term, definition) %}
    <dl class="row">
        <dt title="{{ term }}" class="col-sm-3">{{ term }}</dt>
        <dd class="col-sm-9">{{ definition | raw }}</dd>
    </dl>
{% endmacro %}
